.loginBg{
    background-image: url('https://media.istockphoto.com/photos/healthcare-medical-picture-id1020928010?k=20&m=1020928010&s=612x612&w=0&h=7YGqVumFgIgGhYc7b3U19CsUEb-Lhc1dUHc4F0qcauo=');
    background-repeat: no-repeat;
    background-size: cover;
}